$backgroundColour: #f5f5f5;

$textColour: #444;

$primaryColour: #f7941d;
$secondaryColour: #58bb47;

$colourWhite: #fff;

$colourBlack: #000;

$helpBackgroundColour: #ffef80;
$helpBorderColour: #fff466;

$colourGreyExtraExtraLight: #ededed;
$colourGreyExtraLight: #d1d2d4;
$colourGreyLight: #ccc;
$colourGreyMedium: #a7a6a4;
$colourGrey: #77787c;
$colourGreyDark: #272727;

$colourDarkRedExtraLight: #ffe6e7;
$colourDarkRedLight: #bb646a;
$colourDarkRedMedium: #bb444d;
$colourDarkRed: #771219;
$colourDarkRedDark: #4D060B;

$colourRedExtraLight: #ffe6e7;
$colourRedLight: #ec878e;
$colourRedMedium: #ec626c;
$colourRed: #d8303b;
$colourRedDark: #8c1019;

$colourBrownExtraLight: #fff1e9;
$colourBrownLight: #ffba90;
$colourBrownMedium: #d68959;
$colourBrown: #873e11;
$colourBrownDark: #443126;

$colourDarkOrangeExtraLight: #ffc4ac;
$colourDarkOrangeLight: #f89277;
$colourDarkOrangeMedium: #ee6f46;
$colourDarkOrange: #eb5b34;
$colourDarkOrangeDark: #e54728;

$colourOrangeExtraLight: #fef4ea;
$colourOrangeLight: #fcd3a2;
$colourOrangeMedium: #fcb867;
$colourOrange: #f7941d;
$colourOrangeDark: #dc8419;

$colourYellowExtraLight: #fffbea;
$colourYellowLight: #fff297;
$colourYellowMedium: #ffe954;
$colourYellow: #ffde00;
$colourYellowDark: #8f7c00;

$colourLimeGreenExtraLight: #fbffe6;
$colourLimeGreenLight: #d7e586;
$colourLimeGreenMedium: #d3e56e;
$colourLimeGreen: #bfd44a;
$colourLimeGreenDark: #96c451;

$colourGreenExtraLight: #e9ffe6;
$colourGreenLight: #9cdd92;
$colourGreenMedium: #84dd76;
$colourGreen: #58bb47;
$colourGreenDark: #247a17;

$colourPurpleExtraLight: #e6e6ff;
$colourPurpleLight: #7876ba;
$colourPurpleMedium: #615dba;
$colourPurple: #2a2774;
$colourPurpleDark: #2d2c57;
