<div class="main-menu">
    <nav class="clearfix">
        <ul class="sf-menu sf-js-enabled sf-arrows">
            <li>
                <a href="#" class="sf-with-ul">Contacts</a>
                <ul>
                    <li>
                        <a href="#">Customers</a>
                    </li>
                    <li>
                        <a href="#">Manufacturers / Distributors</a>
                    </li>
                    <li>
                        <a href="#">Stockists</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="sf-with-ul">Projects</a>
                <ul>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Unassigned Projects</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="sf-with-ul">Products</a>
                <ul>
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Product Types</a>
                    </li>
                    <li>
                        <a href="#">Product Attributes</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="sf-with-ul">Departments</a>
            </li>
            <li>
                <a href="#" class="sf-with-ul">Orders</a>
                <ul>
                    <li>
                        <a href="#">Sale Orders</a>
                    </li>
                    <li>
                        <a href="#">Purchase Orders</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="sf-with-ul">Network</a>
                <ul>
                    <li>
                        <a href="#">Stock Locations</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="sf-with-ul">Reports</a>
                <ul>
                    <li>
                        <a href="#">Sales Agent Profit &amp; Revenue</a>
                    </li>
                    <li>
                        <a href="#">Marketing Profit &amp; Revenue</a>
                    </li>
                    <li>
                        <a href="#">Sales Agent Performance</a>
                    </li>
                    <li>
                        <a href="#">Sales Agent Customers</a>
                    </li>
                    <li>
                        <a href="#">Project Conversion</a>
                    </li>
                    <li>
                        <a href="#">Average Project Completion</a>
                    </li>
                    <li>
                        <a href="#">Quotations</a>
                    </li>
                    <li>
                        <a href="#">Average Trade Customer Lifetime Value</a>
                    </li>
                    <li>
                        <a href="#">Consumer vs Trade Contacts</a>
                    </li>
                    <li>
                        <a href="#">Profit by Medium</a>
                    </li>
                    <li>
                        <a href="#">Marketing by Quotes</a>
                    </li>
                    <li>
                        <a href="#">Marketing by Projects</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
